/* Futura Cyrillic Light */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTLight.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

/* Futura Cyrillic Book */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTBook.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

/* Futura Cyrillic Medium */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTMedium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

/* Futura Cyrillic Demi */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTDemi.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

/* Futura Cyrillic Bold */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTBold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

/* Futura Cyrillic ExtraBold */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTExtraBold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}

/* Futura Cyrillic Heavy */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaPTHeavy.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}