/* Futura Cyrillic Light */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicLight.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

/* Futura Cyrillic Book */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicBook.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* Futura Cyrillic Medium */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicMedium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

/* Futura Cyrillic Demi */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillic-Demi.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

/* Futura Cyrillic Bold */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* Futura Cyrillic ExtraBold */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillic-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

/* Futura Cyrillic Heavy */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicHeavy.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}