@import './fonts.css';
@import './variables.css';

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
  line-height: 1.5;
  font-family: 'Futura Cyrillic';
}

h1 {
  font-size: var(--fs-xl);
}

.container {
  max-width: min(95vw, 1200px);
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: clamp(1rem, 2vw, 2rem);
}

strong {
  font-weight: 500;
}