:root {
  /* Colors */
  --color-primary: #0000ff;
  --color-secondary: #8b5cf6;
  --color-text: #000000;
  --color-text-orange: #ff764d;
  --color-text-light: #6b7280;
  --color-bg: #f3f3f3;
  --colo-bg-2: #eeeeee;
  --color-bg-info: #b6ffc0;
  --color-bg-article: #ebf0dc;
  --color-bg-article2: #00ffaf;
  --color-bg-purple: #cdbefd;
  --color-bg-light: #f9fafb;
  --color-border: #e5e7eb;
  --color-error: #ef4444;
  --color-success: #10b981;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  /* Typography */
  --font-sans: 'Futura Cyrillic', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-mono: 'Courier New', monospace;

    --fs-xl: clamp(2rem, 3vw, 3rem);
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem; 

}

@media (min-width: 768px) {

  :root {
    --fs-xl: clamp(3rem, 2vw + 1rem, 5rem);
    --fs-600: 3rem;
    --fs-500: 2rem;
    --fs-400: 1.125rem; 
  }

}
 



