<section class="about-section" >
    <div class="container">
        <h2>Něco málo o mně</h2> 
        <p class="about-text">
            Jsem front-end webový vývojář. Přetvářím nápady v interaktivní webové stránky pomocí <strong>HTML, CSS, JavaScriptu</strong> a moderních frameworků. <br/>
            Ve volném čase miluji kreslit ve <strong>Adobe Fresco</strong> vektorové ilustrace. V galerii se na ně můžete podívat.
        </p>   
    </div>
</section>

<style>

    .about-section {
        margin: var(--spacing-2xl);
    }

    .container {
        background-color: var(--color-bg-info);
        padding: var(--spacing-2xl);
    }

    h2 {
        font-size: var(--fs-600);
        font-weight: 500;
    }

    p {
        font-size: var(--fs-500);
    }

    @media (max-width: 769px) {

        .about {
            margin: var(--spacing-xl);
    }

        .container {
        padding: var(--spacing-md);

    }

}

</style>

<script>
    import {gsap} from "gsap"
    import {SplitText} from "gsap/src/SplitText"
    import {ScrollTrigger} from "gsap/ScrollTrigger";

   gsap.registerPlugin(SplitText, ScrollTrigger) 


gsap.from('.about-section', {
	scrollTrigger: '.about-section', // start animation when ".box" enters the viewport
	xPercent: -100,
    duration: 1,
    ease: 'power1.out'
});
    

SplitText.create(".about-text", {
  type: "lines, words",
  mask: "lines",
  autoSplit: true,
  onSplit(self) {
    return gsap.from(self.words, {
      scrollTrigger: {          // add ScrollTrigger here too
        trigger: ".about-section",
      },
      duration: 1, 
      y: 100, 
      autoAlpha: 0, 
      stagger: 0.05,
      ease: "power2.out"
    });
  }
});

</script>