<section class="about" >
    <div class="container">
        <h2>A little about me</h2> 
        <p>
            I’m a Front-End Web Developer. I am turning ideas into interactive websites using <strong>HTML, CSS, JavaScript,</strong> and modern frameworks.
        </p>   
    </div>
</section>

<style>

    .about {
        margin: var(--spacing-2xl);
    }

    .container {
        background-color: var(--color-bg-info);
        padding: var(--spacing-2xl);
    }

    h2 {
        font-size: var(--fs-600);
        font-weight: 500;
    }

    p {
        font-size: var(--fs-500);
    }

    @media (max-width: 769px) {

        .about {
            margin: var(--spacing-xl);
    }

        .container {
        padding: var(--spacing-md);

    }

}

</style>