---
import contactBg from '../../src/assets/form-img.jpeg'
---

<section>
    <div 
    class="form-wrapper"
    style={`background-image: url(${contactBg.src})`}
     >
        <form class="contact-form">
            <h2>Contact Us</h2>

            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea rows="4" placeholder="Your Message" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
</section>

<style>

    .form-wrapper {
        height: 100vh;
        background-size:cover;

    }

    .contact-form {
    padding: 5rem 3rem;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  }

  .contact-form h2 {
    font-size: 22px;
    text-align: center;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
  }

  .contact-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }

  .contact-form button:hover {
    opacity: 0.85;
  }


</style>