---
import Image from "astro/components/Image.astro"
import frontend from '../assets/front-end.png';
import artur from '../assets/artur.png';

---

<section>
    <div 
    class="form-wrapper" >
        <form class="contact-form">
            <h2>Contact Me</h2>

            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <textarea rows="4" placeholder="Tell me what's on your mind" required></textarea>

            <button type="submit">
              Send Message 🚀
            </button>
        </form>
        <div class="img-wrapper">
          <Image src={frontend} alt='png image typed front end' width={350}/>
          <Image src={artur} alt='artur' width={350}/>
        </div>
    </div>
</section>

<style>

  .form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-purple);
  }

  .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    width: min(25%, 70%);

  }

 

    .contact-form {
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    font-family: 'Futura Cyrillic' ;
  }

 

  .contact-form h2 {
    text-align: center;

  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: 'Futura Cyrillic' ;

  }

  .contact-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Futura Cyrillic' ;

  }

  .contact-form button:hover {
    opacity: 0.85;
  }

  @media (min-width: 768px) {

    .form-wrapper {
    display: flex;
    flex-direction: row;
    padding: 5rem;
  }

  .img-wrapper {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  }


</style>