---
import heroBg from '../../src/assets/24.jpg'
---

<section>
    <div 
    class="hero"
    style={`background-image: url(${heroBg.src})`}
     >
     <div class="hero-content">
         <h1 class="hero-heading">
             I Create Custom Websites <br/>
             <span class="word-wrapper">
                 <span class="word">For Business</span>
             </span>
         </h1>
         <div class="hero-btn">
             <button class="cta-btn">I WANT WEBSITE</button>
         </div>
     </div>
    </div>
</section>

<style>
    .hero {
        height: 100vh;
        background-color: var(--color-bg-info);
        background-size: cover;
        background-position: center;
    }

    .hero-content {
        padding-top: 20vh;
        padding-inline: 2rem;   
    }


    .hero-heading {
        color: white;
        font-weight: 500;
        letter-spacing: 0.05em;
    }

    .word-wrapper {
        display: inline-block;
        overflow: hidden;
        animation-fill-mode: forwards;

    }


    .word {
        color: black;
        background-color: white;
        border-radius: 6.25rem;
        padding: var(--spacing-sm);
        display: inline-block;
        height: auto;
    }

 

    .cta-btn {
        border-radius: 0;
        padding: var(--spacing-md);
        font-size: var(--fs-400);
        border: none;
        outline: transparent;
        font-weight: 600;
        background-color: var(--color-primary);
        color: white;
        cursor: pointer;
        margin-top: 3rem;
    }


    @media (min-width: 768px) {
        .hero-content {
        padding-left: 7rem;       
    }
    }

</style>

<script>
    import {gsap} from "gsap"

    const words = ["For Startups", "For Companies", "SEO-Focused", "That Perform"]
    const wordEl = document.querySelector('.word')
    let index = 0;

    function changeWord(){
        //Set the new word
        wordEl.textContent = words[index]

        //Animate from top to normal postion
        gsap.from(".word",{duration: 0.8, y: '-100%', ease: "bounce"})

        //Move to next word 
        index = (index + 1) % words.length
    }

    setInterval(changeWord, 1800)

   
</script>