---
import heroBg from '../../src/assets/hero-one.jpg'
---

<section>
    <div 
    class="hero"
    style={`background-image: url(${heroBg.src})`}
     >
        <h1 class="hero-heading">
            I Create Custom Websites
            <div class="word-wrapper">
                <span class="word">For Business</span>
            </div>
        </h1>
        
        <div class="hero-btn">
            <button class="cta-btn">I WANT WEBSITE</button>
        </div>
    </div>
</section>

<style>
    .hero {
        height: 100vh;
        background-color: var(--color-bg-info);
        background-size: cover;
        background-position: center;
    }

    .hero-heading {
        padding-top: 30vh;
        padding-left: 10%;
        color: white;
        font-weight: 500;
        letter-spacing: 0.05em;
        width: 70%;
    }

    .word-wrapper {
        position: relative;
        height: 6rem;
    }

    .word {
        color: black;
        background-color: white;
        border-radius: 6.25rem;
        padding: var(--spacing-sm);
        margin-bottom: 1rem;
    }

 

    .cta-btn {
        border-radius: 0;
        padding: var(--spacing-md);
        font-size: var(--font-size-base);
        border: none;
        background-color: var(--color-primary);
        color: white;
        margin-left: 10%;
    }

</style>

<script>
   import { gsap } from "gsap"

   const words = ["For Startups", "For Companies", "SEO-Focused", "That Perform", "For Business"];
   let index = 0;

  window.addEventListener("DOMContentLoaded", () => {
        const wrapper = document.querySelector(".word-wrapper")!;
        const currentWord = document.querySelector(".word")!;
   

    if (!wrapper || !currentWord) return;

    function changeWord() {
      const nextIndex = (index + 1) % words.length;

      currentWord.textContent = words[nextIndex];

      // Start ABOVE
      gsap.set(currentWord, {
        y: "-40%",
        opacity: 0,
        position: "absolute",
        left: 0,
        top: 0
      });

      wrapper.appendChild(currentWord);


      const tl = gsap.timeline({
        defaults: { duration: 0.7, ease: "power3.inOut" }
      });

      tl.to(currentWord, {
        y: "120%",
        opacity: 0
      })
      .to(currentWord, {
        y: "0%",
        opacity: 1
      }, "<")
      .call(() => {
        index = nextIndex;
      });
    }

    setInterval(changeWord, 2200);
  });
</script>