---
import heroBg from '../../src/assets/hero-one.jpg'
---

<section>
    <div 
    class="hero"
    style={`background-image: url(${heroBg.src})`}
     >
        <h1 class="hero-heading">
            I Create Custom Websites <br/>
            <span class="word-wrapper">
                <span class="word">For Business</span>
            </span>
        </h1>
        
        <div class="hero-btn">
            <button class="cta-btn">I WANT WEBSITE</button>
        </div>
    </div>
</section>

<style>
    .hero {
        height: 100vh;
        background-color: var(--color-bg-info);
        background-size: cover;
        background-position: center;
    }

    .hero-heading {
        padding-top: 30vh;
        padding-left: 10%;
        color: white;
        font-weight: 500;
        letter-spacing: 0.05em;
    }

    .word-wrapper {
        display: inline-block;
        overflow: hidden;
    }


    .word {
        color: black;
        background-color: white;
        border-radius: 6.25rem;
        padding: var(--spacing-sm);
        display: inline-block;
        
    }

 

    .cta-btn {
        border-radius: 0;
        padding: var(--spacing-md);
        font-size: var(--font-size-base);
        border: none;
        outline: transparent;
        font-weight: 600;
        background-color: var(--color-primary);
        color: white;
        margin-left: 10%;
        cursor: pointer;
    }

</style>

<script>
    import {gsap} from "gsap"

    const words = ["For Startups", "For Companies", "SEO-Focused", "That Perform"]
    const wordEl = document.querySelector('.word')
    let index = 0;

    function changeWord(){
        //Set the new word
        wordEl.textContent = words[index]

        //Animate from top to normal postion
        gsap.from(".word",{duration: 0.3, y: '-100%', ease: "power1.out"})

        //Move to next word 
        index = (index + 1) % words.length
    }

    setInterval(changeWord, 2000)
   
</script>